<!-- Page container -->
	<div class="page-container">

		<!-- Page content -->
		<div class="page-content">

			<!-- Main sidebar -->
			<div class="sidebar sidebar-main">
        <sidebar></sidebar>
      </div>
			<!-- /main sidebar -->

			<!-- Main content -->
			<div class="content-wrapper">
				<!-- Content area -->
      <div class="content">

        <!-- Dashboard content -->
        <div class="row">
          <div class="col-lg-8">

          <!-- Basic table -->
        <div class="panel panel-flat">
          <div class="panel-heading">
            <h5 class="panel-title">Results</h5>
            <div class="heading-elements">
              <a href="#" class="btn bg-indigo-300"><i class="icon-statistics position-left"></i> Unverified</a>
            </div>
          </div>

          <div class="panel-body">
            Your registration is not complete yet.......
          </div>

          <div class="table-responsive">
            <table class="table">
            
              <thead>
                <tr>
                  <th>Exam#</th>
                  <th>Subject</th>
                  <th>Score</th>
                  <th>Exam Name</th>
                  <th>Exam Year</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>4121016121</td>
                  <td>English</td>
                  <td>C3</td>
                  <td>SSCE</td>
                  <td>2014</td>
                </tr>
                <tr>
                  <td>4121016121</td>
                  <td>Mathematics</td>
                  <td>A2</td>
                  <td>SSCE</td>
                  <td>2016</td>
                </tr>
                <tr>
                  <td>4121016432</td>
                  <td>Literature</td>
                  <td class="text-warning-600">P4</td>
                  <td>GCE</td>
                  <td>2016</td>
                </tr>
                <tr>
                  <td>4121016432</td>
                  <td>Biology</td>
                  <td>C4</td>
                  <td>SSCE</td>
                  <td>2014</td>
                </tr>
                <tr>
                  <td>4121016121</td>
                  <td>Chemistry</td>
                  <td>A1</td>
                  <td>SSCE</td>
                  <td>2014</td>
                </tr>
                <tr>
                  <td>4121016121</td>
                  <td>Physics</td>
                  <td>B2</td>
                  <td>SSCE</td>
                  <td>2014</td>
                </tr>
                <tr>
                  <td>4121016432 <br><span class="text-muted">2nd sitting</span></td>
                  <td>Yoruba</td>
                  <td>A1</td>
                  <td>SSCE</td>
                  <td>2013</td>
                </tr>
                <tr>
                  <td>4121016121</td>
                  <td>Further Mathematics</td>
                  <td>A2</td>
                  <td>GCE</td>
                  <td>2016</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
        <!-- /basic table -->

            

      <a href="#" class="btn bg-indigo-300"><i class="icon-statistics position-left"></i> Verify Now</a>
            

          </div>

         <div class="col-sm-6 col-lg-4">

							<!-- User details (with sample pattern) -->
							<div class="content-group">
								<div class="panel-body bg-grey border-radius-top text-center" style="background-image: url(http://demo.interface.club/limitless/assets/images/bg.png); background-size: contain;">
									<div class="content-group-sm">
										

										
									</div>

									<a href="#" class="display-inline-block content-group-sm">
										<img src="assets/images/avarta.png" class="img-circle img-responsive" alt="" style="width: 120px; height: 120px;">
									</a>

									<h5 class="text-semibold no-margin-bottom">
											Bukola Ajayi
									</h5>
                  <span class="display-block">Exam#: 4121016121</span>
								</div>

					
							</div>
							<!-- /user details (with sample pattern) -->


							<!-- My messages -->
							<div class="panel panel-flat">

								<!-- Panel heading -->
								<div class="panel-heading">
									<h6 class="panel-title">Today's stats</h6>

									<div class="heading-elements">
										<a href="#" class="heading-text">See all &rarr;</a>
				                	</div>
								</div>
								<!-- /panel heading -->

							</div>
							<!-- /my messages -->



						</div>
        </div>
        <!-- /dashboard content -->


        <!-- Footer -->
        <footer></footer>
        <!-- /footer -->

      </div>
	<!-- /content area -->

			</div>
			<!-- /main content -->

		</div>
		<!-- /page content -->

	</div>
	<!-- /page container -->
