<!-- Page container -->
	<div class="page-container">

		<!-- Page content -->
		<div class="page-content">

			<!-- Main sidebar -->
			<div class="sidebar sidebar-main">
        <sidebar></sidebar>
      </div>
			<!-- /main sidebar -->

			<!-- Main content -->
			<div class="content-wrapper">
				<!-- Content area -->
				<div class="content">

					<!-- Main charts -->
					<div class="row">
						<div class="col-lg-12">

						

					<!-- Dashboard content -->
					<div class="row">
						<div class="col-lg-8">

						

							<!-- Quick stats boxes -->
							<div class="row">
								<div class="col-lg-4">

									<!-- Members online -->
									<div class="panel bg-teal-400">
										<div class="panel-body">
											<div class="heading-elements">
												<span class="heading-text badge bg-teal-800">82.6%</span>
											</div>

											<h3 class="no-margin">10,450</h3>
											WAEC Applicants
											<div class="text-muted text-size-small">3k avg</div>
										</div>

										<div class="container-fluid">
											<div id="members-online"></div>
										</div>
									</div>
									<!-- /members online -->

								</div>

								<div class="col-lg-4">

									<!-- Current server load -->
									<div class="panel bg-pink-400">
										<div class="panel-body">
												<div class="heading-elements">
												<span class="heading-text badge bg-teal-800">82.6%</span>
											</div>

											<h3 class="no-margin">3,650</h3>
											NECO Applicants
											<div class="text-muted text-size-small">3k avg</div>
										</div>

										<div id="server-load"></div>
									</div>
									<!-- /current server load -->

								</div>

								<div class="col-lg-4">

									<!-- Today's revenue -->
									<div class="panel bg-blue-400">
										<div class="panel-body">
												<div class="heading-elements">
												<span class="heading-text badge bg-teal-800">2.6%</span>
											</div>

											<h3 class="no-margin">1,390</h3>
											NABTECH Applicants
											<div class="text-muted text-size-small">.5k avg</div>
										</div>

										<div id="today-revenue"></div>
									</div>
									<!-- /today's revenue -->

								</div>
							</div>
							<!-- /quick stats boxes -->


							<!-- Support tickets -->
							<div class="panel panel-flat">
								<div class="panel-heading">
									<h6 class="panel-title">Latest Updates</h6>
									
								</div>

						

								<div class="table-responsive">
									<table class="table text-nowrap">
										<thead>
											<tr>
												<th style="width: 50px">AppNum</th>
												<th style="width: 300px;">Applicant</th>
												<th>Description</th>
												
											</tr>
										</thead>
										<tbody>
											<tr class="active border-double">
												<td colspan="3">Verified Applicants</td>
												
											</tr>

											<tr>
												<td class="text-center">
													<h6 class="no-margin">75732209HB <small class="display-block text-size-small no-margin">&nbsp;&nbsp;&nbsp;</small></h6>
												</td>
												<td>
													<div class="media-left media-middle">
														<a href="#"><img src="assets/images/avarta.png" class="img-circle img-xs" alt=""></a>
													</div>

													<div class="media-body">
														<a href="#" class="display-inline-block text-default text-semibold letter-icon-title">Muhammed Alao</a>
														<div class="text-muted text-size-small"><span class="status-mark border-blue position-left"></span> Verified</div>
													</div>
												</td>
												<td>
													alao@yahoo.com
												</td>
												
											</tr>

											<tr>
												<td class="text-center">
													<h6 class="no-margin">78762209CF <small class="display-block text-size-small no-margin">&nbsp;&nbsp;&nbsp;</small></h6>
												</td>
												<td>
													<div class="media-left media-middle">
														<a href="#"><img src="assets/images/avarta.png" class="img-circle img-xs" alt=""></a>
													</div>

													<div class="media-body">
														<a href="#" class="display-inline-block text-default text-semibold letter-icon-title">Chris Babajide</a>
														<div class="text-muted text-size-small"><span class="status-mark border-blue position-left"></span> Verified</div>
													</div>
												</td>
												<td>
													chris@hotmail.com
												</td>
											
											</tr>

											<tr>
												<td class="text-center">
													<h6 class="no-margin">75762229MY <small class="display-block text-size-small no-margin">&nbsp;&nbsp;&nbsp;</small></h6>
												</td>
												<td>
													<div class="media-left media-middle">
														<a href="#"><img src="assets/images/avarta.png" class="img-circle img-xs" alt=""></a>
													</div>

													<div class="media-body">
														<a href="#" class="display-inline-block text-default text-semibold letter-icon-title">Robert Kunle</a>
														<div class="text-muted text-size-small"><span class="status-mark border-blue position-left"></span> Verified</div>
													</div>
												</td>
												<td>
													kunle@gmail.com
												</td>
											
											</tr>

											<tr>
												<td class="text-center">
													<h6 class="no-margin">75734309CC <small class="display-block text-size-small no-margin">&nbsp;&nbsp;&nbsp;</small></h6>
												</td>
												<td>
													<div class="media-left media-middle">
														<a href="#"><img src="assets/images/avarta.png" class="img-circle img-xs" alt=""></a>
													</div>

													<div class="media-body">
														<a href="#" class="display-inline-block text-default text-semibold letter-icon-title">Tayo Olowu</a>
														<div class="text-muted text-size-small"><span class="status-mark border-blue position-left"></span> Verified</div>
													</div>
												</td>
												<td>
													tayo@yahoo.com
												</td>
												
											</tr>
        <!--
											<tr class="active border-double">
												<td colspan="3">Unverified Applicants</td>
												<td class="text-right">
													<span class="badge bg-success">42</span>
												</td>
											</tr>

											<tr>
												<td class="text-center">
													<i class="icon-checkmark3 text-success"></i>
												</td>
												<td>
													<div class="media-left media-middle">
														<a href="#" class="btn bg-success-400 btn-rounded btn-icon btn-xs">
															<span class="letter-icon"></span>
														</a>
													</div>

													<div class="media-body">
														<a href="#" class="display-inline-block text-default letter-icon-title">Alan Macedo</a>
														<div class="text-muted text-size-small"><span class="status-mark border-success position-left"></span> Resolved</div>
													</div>
												</td>
												<td>
													<a href="#" class="text-default display-inline-block">
														[#1046] Avoid some unnecessary HTML string
														<span class="display-block text-muted">Rather than building a string of HTML and then parsing it...</span>
													</a>
												</td>
												<td class="text-center">
													<ul class="icons-list">
														<li class="dropdown">
															<a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="icon-menu7"></i></a>
															<ul class="dropdown-menu dropdown-menu-right">
																<li><a href="#"><i class="icon-undo"></i> Quick reply</a></li>
																<li><a href="#"><i class="icon-history"></i> Full history</a></li>
																<li class="divider"></li>
																<li><a href="#"><i class="icon-plus3 text-blue"></i> Unresolve issue</a></li>
																<li><a href="#"><i class="icon-cross2 text-danger"></i> Close issue</a></li>
															</ul>
														</li>
													</ul>
												</td>
											</tr>

											<tr>
												<td class="text-center">
													<i class="icon-checkmark3 text-success"></i>
												</td>
												<td>
													<div class="media-left media-middle">
														<a href="#" class="btn bg-pink-400 btn-rounded btn-icon btn-xs">
															<span class="letter-icon"></span>
														</a>
													</div>

													<div class="media-body">
														<a href="#" class="display-inline-block text-default letter-icon-title">Brett Castellano</a>
														<div class="text-muted text-size-small"><span class="status-mark border-success position-left"></span> Resolved</div>
													</div>
												</td>
												<td>
													<a href="#" class="text-default display-inline-block">
														[#1038] Update json configuration
														<span class="display-block text-muted">The <code>files</code> property is necessary to override the files property...</span>
													</a>
												</td>
												<td class="text-center">
													<ul class="icons-list">
														<li class="dropdown">
															<a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="icon-menu7"></i></a>
															<ul class="dropdown-menu dropdown-menu-right">
																<li><a href="#"><i class="icon-undo"></i> Quick reply</a></li>
																<li><a href="#"><i class="icon-history"></i> Full history</a></li>
																<li class="divider"></li>
																<li><a href="#"><i class="icon-plus3 text-blue"></i> Unresolve issue</a></li>
																<li><a href="#"><i class="icon-cross2 text-danger"></i> Close issue</a></li>
															</ul>
														</li>
													</ul>
												</td>
											</tr>

											<tr>
												<td class="text-center">
													<i class="icon-checkmark3 text-success"></i>
												</td>
												<td>
													<div class="media-left media-middle">
														<a href="#"><img src="assets/images/placeholder.jpg" class="img-circle img-xs" alt=""></a>
													</div>

													<div class="media-body">
														<a href="#" class="display-inline-block text-default">Roxanne Forbes</a>
														<div class="text-muted text-size-small"><span class="status-mark border-success position-left"></span> Resolved</div>
													</div>
												</td>
												<td>
													<a href="#" class="text-default display-inline-block">
														[#1034] Tooltip multiple event
														<span class="display-block text-muted">Fix behavior when using tooltips and popovers that are...</span>
													</a>
												</td>
												<td class="text-center">
													<ul class="icons-list">
														<li class="dropdown">
															<a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="icon-menu7"></i></a>
															<ul class="dropdown-menu dropdown-menu-right">
																<li><a href="#"><i class="icon-undo"></i> Quick reply</a></li>
																<li><a href="#"><i class="icon-history"></i> Full history</a></li>
																<li class="divider"></li>
																<li><a href="#"><i class="icon-plus3 text-blue"></i> Unresolve issue</a></li>
																<li><a href="#"><i class="icon-cross2 text-danger"></i> Close issue</a></li>
															</ul>
														</li>
													</ul>
												</td>
											</tr>

										
											<tr>
												<td class="text-center">
													<i class="icon-cross2 text-danger"></i>
												</td>
												<td>
													<div class="media-left media-middle">
														<a href="#" class="btn bg-brown-400 btn-rounded btn-icon btn-xs">
															<span class="letter-icon"></span>
														</a>
													</div>

													<div class="media-body">
														<a href="#" class="display-inline-block text-default letter-icon-title">Katleen Jensen</a>
														<div class="text-muted text-size-small"><span class="status-mark border-danger position-left"></span> Closed</div>
													</div>
												</td>
												<td>
													<a href="#" class="text-default display-inline-block">
														[#1038] Proper sizing of form control feedback
														<span class="display-block text-muted">Feedback icon sizing inside a larger/smaller form-group...</span>
													</a>
												</td>
												<td class="text-center">
													<ul class="icons-list">
														<li class="dropup">
															<a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="icon-menu7"></i></a>
															<ul class="dropdown-menu dropdown-menu-right">
																<li><a href="#"><i class="icon-undo"></i> Quick reply</a></li>
																<li><a href="#"><i class="icon-history"></i> Full history</a></li>
																<li class="divider"></li>
																<li><a href="#"><i class="icon-plus3 text-blue"></i> Unresolve issue</a></li>
																<li><a href="#"><i class="icon-cross2 text-danger"></i> Close issue</a></li>
															</ul>
														</li>
													</ul>
												</td>
											</tr>

                      -->
										</tbody>
									</table>
								</div>
							</div>
							<!-- /support tickets -->


						

						</div>

            

						<div class="col-sm-6 col-lg-4">

							<!-- User details (with sample pattern) -->
							<div class="content-group">
								<div class="panel-body bg-grey border-radius-top text-center" style="background-image: url(http://demo.interface.club/limitless/assets/images/bg.png); background-size: contain;">
									<div class="content-group-sm">
										

										
									</div>

									<a href="#" class="display-inline-block content-group-sm">
										<img src="assets/images/avarta.png" class="img-circle img-responsive" alt="" style="width: 120px; height: 120px;">
									</a>

									<h5 class="text-semibold no-margin-bottom">
											Administrator
									</h5>
                  <span class="display-block">Super Admin</span>
								</div>

					
							</div>
							<!-- /user details (with sample pattern) -->


							<!-- My messages -->
							<div class="panel panel-flat">

								<!-- Panel heading -->
								<div class="panel-heading">
									<h6 class="panel-title">Today's stats</h6>

									<div class="heading-elements">
										<a href="#" class="heading-text">See all &rarr;</a>
				                	</div>
								</div>
								<!-- /panel heading -->

							</div>
							<!-- /my messages -->



						</div>
        </div>
					</div>
					<!-- /dashboard content -->

          <br><br><br><br>
					<!-- Footer -->
					<footer></footer>
					<!-- /footer -->

				</div>
				<!-- /content area -->

			</div>
			<!-- /main content -->

		</div>
		<!-- /page content -->

	</div>
<!-- /page container -->
